
<% if @spots.empty? %>

<p>Hey <%= current_user.username %>, you haven't uploaded any spots yet!</p><br><br>
<%= link_to "Browse Spots", spots_path %><br><br>
<%= link_to "Add A Spot", new_user_spot_path(current_user) %><br><br>
<%= link_to "Back To My Homepage", user_path(current_user) %>

<% else %>

<% @spots.each do |spot| %>
    <li>
        <b><%= link_to spot.name, spot_path(spot) %></b> <i> added on <%= spot.created_at.strftime("%m/%d/%Y") %></i><br>
        <b>Where:</b> <%= spot.location %><br>
        <i><%= spot.description %></i><br>
        <% if spot.image.attached? %>
            <image src="<%=(url_for(spot.image))%>">
<% end %><br><br>
    </li>
<% end %>
<% end %>

<%= link_to "Back To My Homepage", user_path(current_user) %>

