<%= render partial: 'layouts/error' %>


<% if @review.spot.image.attached? %>
    <image src="<%=(url_for(@review.spot.image))%>"><br><br>
<% end %>
<h3><%= @review.spot.name %></h3>
<b><%= @review.title %></b>, 
by: <%= @review.user.username %> on <%= @review.spot.created_at.strftime("%m/%d/%Y") %><br><br>
"<i><%= @review.content %>"</i><br><br>
<% if @review.user == current_user %>
        <%= link_to "Edit This Review", edit_spot_review_path(@review.spot, @review) %>
<% end %>
<br><br>
<%= link_to "Back to spot page", spot_path(@review.spot) %>

